<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <file>/3pa-blacksky/logs/sqs-to-s3-download.log</file>
            <fileNamePattern>/3pa-blacksky/logs/sqs-to-s3-download-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss, America/New_York}) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>

    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="logFile" />
    </root>
</configuration>
